#body
{
    background-color: #58787a;
    text-align: center;
}

#content-main-card
{
    margin-top: 2rem;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 90%;
}

#main-grid
{
    width: 98%;
    height: 100%;
    text-align: center;
}

.row-main-grid
{
    margin-top: 1.2rem;
    height: 45%;
    width: 100%;
}

#main-list, #header-card
{
    background-color: white;
    border-radius: 10px;
}

#btnCosasLindas, #btnCosasFeas
{
    margin-left: 2.5%;
    width: 95%;
    border-radius: 10px;
    border: 1px solid #58787a;
}