#body
{
    background-color: #ff4961;
}

#card-header
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 15px;
}

#comeback-button
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    --border-radius: 20px;
    margin-bottom: 1rem;
}

#card-container-chat
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 15px;
    height: 80%;
}

#card-header-chat
{
    text-align: center;
}

// cdk-virtual-scroll-viewport {
//     height: 100%;
//     width: 100%;
//   }

.username
{
    margin-top: 1rem;
    margin-bottom: -1.5rem;
}


#card-chat
{
    background-color: #eacdc0;
    color: black;
    height: 70%;
    border-radius: 25px;
    border-top-left-radius: 0px;
    // overflow-y: scroll;
    overflow: auto;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li
{
    width: 100%;
    margin-top: 1rem;
}

#lbl-error
{
    align-self: center;
    text-align: center;
}

#txtBox-chat
{
    text-align: center;
    padding: 1rem;
    margin-left: 5%;
    width: 90%;
    border-radius: 15px;
    background-color: #ff4961;
    color: white;
    font-size: 16px;
    height: 3rem;
    margin-top: 1rem;
}

#btn-send
{
    margin-left: 5%;
    margin-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    --border-radius: 20px;
    margin-bottom: 1rem;
    height: 3.5rem;
}