#body
{
    background-color: #6a487c;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-card
{
    height: 97%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main2-card
{
    height: 97%;
    background: rgb(106,72,124);
    background: radial-gradient(circle, rgba(106,72,124,1) 0%, rgba(148,187,233,1) 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#row-fast-access
{
    margin-top: 2rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnFastAccess
{
    margin-left: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-card-2
{
    border-radius: 65px;
    margin-top: 3rem;
    height: 50%;
    border: 1px solid #584264;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#card-main-content
{
    width: 100%;
    border-radius: 40px;
    margin-top: 48%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-card-header
{
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-style: oblique;
    font-variant: small-caps;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mail,#password
{
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 5px;
    color: white;
    margin-bottom: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btnIngresar, #btnRegistrarse,#btnHacerMagia,#btnAdmin,#btnUsuario,#btnMal
{
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#txtError 
{
  margin-top: 15px;
  color: red;
  margin-bottom: 3.5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#txtSatisfaccion
{
  margin-top: 15px;
  color: green;
  margin-bottom: 3.5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
