#body
{
  background-color: #58787a;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

#main-container
{
  margin-top: 50%;
  animation: opacity 2s infinite;
  color: white;
}

img
{
  width: 50%;
}

@keyframes opacity
{
  0% {
    opacity: 0;
  }
  15%{
    opacity: 0.12;
  }
  25%{
    opacity: 0.25;
  }
  55%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
