  <body id="body">
    <ion-card id="main-card">
      <ion-card id="main2-card">
          <ion-card-header id="main-card-header">
            Ingrese <br> sus datos
          </ion-card-header>

          <ion-card-content id="card-main-content">
            <ion-input [(ngModel)]="mailIngresado" id="mail" type="text" placeholder="Correo"></ion-input>
            <ion-input [(ngModel)]="passwordIngresado" id="password" type="password" placeholder="Contraseña"></ion-input>

            <p color="dark" id="txtError" hidden>Mensaje de error</p>
            <p color="dark" id="txtSatisfaccion" hidden>Mensaje de satisfaccion</p>

            <ion-grid>
              <ion-col>
                <ion-button class="btnLogin" id="btnIngresar" (click)="loginAuthFirebase()" color="light">Ingresar</ion-button>
                <ion-button class="btnLogin" id="btnRegistrarse" (click)="registerAuthFirebase()" color="light">Registrarse</ion-button>
                <br>
                <ion-button id="btnAdmin" class="btnTemporal" color="light" (click)="adminAutocomplete()">A</ion-button>
                <ion-button id="btnUsuario" class="btnTemporal" color="light" (click)="userAutocomplete()" >U</ion-button>
                <ion-button id="btnMal" class="btnTemporal" color="light" (click)="testerAutocomplete()">T</ion-button>
              </ion-col>
            </ion-grid>
            
          </ion-card-content>
      </ion-card>
    </ion-card>
    
  </body>
