
<body id="body">
  <ion-card>
    <ion-card-header>
      <ion-title id="header-main-tittle">Usted es {{rango}}</ion-title>
    </ion-card-header>
    <ion-button id="btn-subir-user" color="warning" (click)="goToAltaUser()">ALTA USUARIO</ion-button>
  </ion-card>

  <ion-content color="warning">

    <ion-card id="main-container">
      <ion-card id="main-card2" color="warning">
          <ion-list id="item-list">
            <ion-item class="user-container" *ngFor="let usuario of usuariosLeidosOrdenados">    
              <p class="user-info">
                <img class="user-photo"><img class="user-photo-src" width="100%" height="180" src={{usuario.fotoFile}}><br>
                <label class="user-mail">{{usuario.mail}}</label><br>
                <label class="user-name">{{usuario.nombre}}</label><br>
                <label class="user-dni">{{usuario.dni}}</label><br>
                <label class="user-password">{{usuario.clave}}</label><br>     
              </p>
            </ion-item>
          </ion-list>
        </ion-card>
    </ion-card>

  </ion-content>
</body>

<!-- fab placed to the bottom start -->
<ion-fab class="redireccionador" vertical="bottom" horizontal="start" slot="fixed" (click)="logOut()">
  <ion-fab-button color="warning">
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- <body id="body">
  <ion-card>
    <ion-card id="main-card2">
        <ion-header [translucent]="true">
          <ion-toolbar color="warning">
            <ion-title id="header-main-tittle">
              Usted es {{rango}}
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-card-header class="header-card" color="warning">
            <ion-card-title>
                <ion-button id="btn-subir-user" color="medium" (click)="goToAltaUser()">SUBIR NUEVO USUARIO</ion-button>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card id="main-card">
                <ion-card-header class="header-card">
                    <ion-card-subtitle class="subttitle">
                      Lista de usuarios
                    </ion-card-subtitle>
                </ion-card-header>
                    <ion-list id="data-list">
                      <ion-item-group class="user-data">
                        <ion-item class="user-photo"><img class="user-photo-src" src="http://dummyimage.com/150x150.png/dddddd/000000"></ion-item>
                        <ion-item class="user-name">Alfredo</ion-item>
                        <ion-item class="user-surname">Quiroga Martinez</ion-item>
                        <ion-item class="user-dni">44823221</ion-item>
                        <ion-item class="user-mail">alfredoqmartinez@gmail.com</ion-item>
                        <ion-item class="user-password">123123123</ion-item>
                      </ion-item-group>
                      
                    </ion-list>
            </ion-card>
        </ion-card-content>
    </ion-card>
  </ion-card>
</body> -->


