<body id="body">
  <ion-card>
    <ion-card-header>
      <ion-card-title id="main-tittle">cosas feas</ion-card-title>
    </ion-card-header>
    <ion-button class="main-button" color="medium" (click)="volver()">Volver</ion-button>
    <ion-button class="main-button" color="medium" (click)="subirFoto()">Subir foto</ion-button>
  </ion-card>

  <ion-content color="medium">
    <ion-card id="main-container">
          <ion-list id="item-list">
            <ion-item class="itemloaded" color="medium" *ngFor="let cosaFea of publicacionesCosasFeas; let i = index"> 
              <p class="info-container">
                <label class="mailloaded">{{cosaFea.emisor}}</label>
                <img class="imgloaded" src={{cosaFea.foto}}>
                <ion-row>
                  <ion-button class="buttonloaded" color="light" *ngIf="cosaFea.likes.indexOf(this.authSrv.userLogedmail) == -1" (click)="votarImagen(cosaFea, false)">Votar</ion-button>
                  <ion-button class="buttonloaded" color="light" *ngIf="cosaFea.likes.indexOf(this.authSrv.userLogedmail) != -1" (click)="votarImagen(cosaFea, true)">Quitar voto</ion-button>
                </ion-row>  
              </p>
            </ion-item>
          </ion-list>
    </ion-card>
  </ion-content>
</body>
