#body
{
    background-color: #9bd3c2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#card-main
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.5rem;
    background-color: whitesmoke;
    height: 90%;
    border-radius: 40px;
}

#aula-4a
{
    margin-top: 1.5rem;
}

.btn-class
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    height: 300px;
    width: 90%;
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 35px;
    font-weight: 600;
}

#btn-security
{
    height: 100%;
    width: 95%;
    --border-radius: 40px;
    padding: 1rem;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}