
<body id="body">
  <ion-card id="card-main">
    <ion-button class="btn-class" color="danger" (click)="goToChat4a()">
      AULA <br> 
      PPS <br> 4A
    </ion-button>
    <ion-button class="btn-class" color="warning" (click)="goToChat4b()">
      AULA <br> 
      PPS <br> 4B
    </ion-button>
  </ion-card>
</body>

<!-- fab placed to the bottom start -->
<ion-fab class="redireccionador" vertical="bottom" horizontal="start" slot="fixed" (click)="logOut()">
  <ion-fab-button color="dark">
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>